input,
textarea {
  padding: 5px 3px;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: none;
  margin-bottom: 16px;
  border-bottom: 1px solid #333333;

  &:focus {
    border-bottom: 2px solid #ffa500;
  }
}

textarea {
  max-width: 100%;
  min-height: 100px;
}

.error {
  color: red;
}

.page {
  //display: none;
}

.progress-bar {
  width: 100%;
  height: 25px;
  background-color: #CCCCCC;
}

.progress {
  width: 1%;
  height: 100%;
  background-color: #51a351;
}